.pagarme-transactions-cards {
	display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 100%;
}

.pagarme-transactions-card {
	position: relative;
    display: inline-grid;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 65px;
    min-height: 60px;
    text-align: left;
    border: none;
    border-radius: 5px;
	color: #ffffff;
    font-size: 14px;
	font-weight: 500;
}

.pagarme-transactions-card::before {
	position: absolute;
	top: 50%;
	left: 24px;
	margin-top: -9px;
	line-height: 18px;
	font-family: dashicons;
	font-size: 22px;
}

.pagarme-transactions-card.green {
	background-color: #5c931d;
}

.pagarme-transactions-card.green::before {
	content: "\f15e";
}

.pagarme-transactions-card.orange {
	background-color: #ccbf2a;
}

.pagarme-transactions-card.orange::before {
	content: "\f14c";
}

.pagarme-transactions-card.red {
	background-color: #cc482a;
}

.pagarme-transactions-card.red::before {
	content: "\f463";
}

.pagarme-transaction-label {
	display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.pagarme-transaction-label.green {
	background-color: #5c931d;
}

.pagarme-transaction-label.red {
	background-color: #cc482a;
}

.pagarme-transaction-label.orange {
	background-color: #ccbf2a;
}

.pagarme-transactions-pagination {
    text-align: right;
}

.pagarme-transactions-pagination ul {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagarme-transactions-pagination li {
    display: inline;
}

.pagarme-transactions-pagination ul,
.pagarme-transactions-pagination li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pagarme-transactions-pagination ul > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
	color: black;
}